$white-base:            #FFFFFF; // #JS#
$black-base:            #000000; // #JS#

$grey-light-pos1:       #f4f6f7; // #JS#
$grey-light-base:       #ECF0F1; // #JS#
$grey-light-neg1:       #d4d8d8; // #JS#

$grey-dark-pos1:        #c4cdce; // #JS#
$grey-dark-base:        #95A5A6; // #JS#
$grey-dark-neg1:        #869495; // #JS#

$dark-pos1:             #526476; // #JS#
$dark-base:             #34495E; // #JS#
$dark-neg1:             #2e4154; // #JS#

$primary-pos1:          #3cc6aa; // #JS#
$primary-base:          #1ABC9C; // #JS#
$primary-neg1:          #17a98c; // #JS#

$secondary-pos1:        #aa71c0; // #JS#
$secondary-base:        #9B59B6; // #JS#
$secondary-neg1:        #8b50a3; // #JS#

$success-pos1:          #4dd386; // #JS#
$success-base:          #2ECC71; // #JS#
$success-neg1:          #29b765; // #JS#

$info-pos1:             #52a7e0; // #JS#
$info-base:             #3498DB; // #JS#
$info-neg1:             #2e88c5; // #JS#

$caution-pos1:          #f3cc33; // #JS#
$caution-base:          #F1C40F; // #JS#
$caution-neg1:          #d8b00d; // #JS#

$warning-pos1:          #e99143; // #JS#
$warning-base:          #E67E22; // #JS#
$warning-neg1:          #cf711e; // #JS#

$danger-pos1:           #ea6659; // #JS#
$danger-base:           #E74C3C; // #JS#
$danger-neg1:           #cf4436; // #JS#

$success-fade:          #d5f4e2; // #JS#
$info-fade:             #d6eaf7; // #JS#
$caution-fade:          #fcf3cf; // #JS#
$warning-fade:          #fae5d2; // #JS#
$danger-fade:           #fadbd8; // #JS#

$background-color:      $grey-light-pos1;
$font-color:            $dark-pos1;
$sidebar-color:         $dark-neg1;
