$icon-font-name:        "FontAwesome";
$fa-font-path:          "/vendor/font-awesome/fonts";
$fa-css-prefix:         icon;

$icon-size-sm:          1rem;
$icon-size-md:          2rem;
$icon-size-lg:          3rem;
$icon-size-xl:          4rem;
