$font-family:           'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-base:        14px;
$font-size-sm:          10px;

$font-size-h1:          floor(($font-size-base * 2.6));
$font-size-h2:          floor(($font-size-base * 2.15));
$font-size-h3:          floor(($font-size-base * 1.7));
$font-size-h4:          floor(($font-size-base * 1.25));

$line-height:           20px; // #JS#
$line-height-hs:        1.2;

$font-weight-light:     300;
$font-weight-base:      400;
$font-weight-bold:      600;
