@import "../../core/styling/variables";
@import "../../core/styling/mixins";

.sidebar {
  @include transition((width));

  @include screenLessThan(sm) {
    width: $sidebar-closed;
  }

  @include screenMoreThan(md) {
    width: $sidebar-open;
    overflow: hidden;
  }
}

.sidebar-header {

}

.sidebar-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-menu-item {
  position: relative;
  overflow: hidden;

  >.sidebar-menu {
    height: 0;
  }

  &.open {
    >.sidebar-menu {
      height: auto;
    }
  }
}

.sidebar-menu-link {
  display: block;
  padding: $spacing-base;
  text-decoration: none;
  color:  $grey-light-neg1;
  @include transition((background-color, color));

  &:hover {
    background-color: fade-out(black, 0.9);
    color: $grey-light-pos1;
    cursor: pointer;
  }
}

.sidebar-menu-icon {
  margin-right: $spacing-sm;
  width: 16px;
  text-align: center;
}

.sidebar-menu-toggle {
  float: right;
}

/**
 * Menu Item styling
 * - All screens
 */

// First level
.sidebar > .sidebar-menu > .sidebar-menu-item {
  background-color: $dark-base;
  border-width: 0px;
  @include transition((background-color, border-width));

  &.active {
    background-color: $dark-neg1;
    border-left: $border-thick;
    border-color: $primary-base;
  }

  // Second level
  > .sidebar-menu > .sidebar-menu-item {

    // Third level
    > .sidebar-menu > .sidebar-menu-item {
      > .sidebar-menu-link {
        padding: $spacing-sm $spacing-base;
      }

      &.active {
        > .sidebar-menu-link {
          color: $primary-base;
        }
      }
    }
  }
}

/*
 * - Smaller screens
 */
@include screenLessThan(sm) {
  // First level
  .sidebar > .sidebar-menu > .sidebar-menu-item {
    &.open { overflow: visible; }

    > .sidebar-menu-link {
      text-align: center;

      .sidebar-menu-text {
        display: none;
      }

      .sidebar-menu-toggle {
        display: none;
      }
    }

    // Second level
    > .sidebar-menu {
      position: absolute;
      top: 0;
      left: 100%;
      min-width: $sidebar-open;
      z-index: $zindex-sidebar;
      background-color: $sidebar-color;
    }
  }
}

/*
 * - Large screens
 */
@include screenMoreThan(md) {
  // First level
  .sidebar > .sidebar-menu > .sidebar-menu-item {
    .sidebar-menu-link {
      min-width: $sidebar-open - $border-width-lg;
    }

    // Second level
    > .sidebar-menu > .sidebar-menu-item {
      > .sidebar-menu-link {
        padding-left: $spacing-base * 2;
      }

      // Third level
      > .sidebar-menu > .sidebar-menu-item {
        > .sidebar-menu-link {
          padding-left: $spacing-base * 3;
        }
      }
    }
  }
}
