$white-base:            #FFFFFF; // #JS#
$black-base:            #000000; // #JS#

$light-light:           #FAFAFA; // #JS#
$light-base:            #F0F0F0; // #JS#
$light-dark:            #E6E6E6; // #JS#

$dark-light:            #626C75; // #JS#
$dark-base:             #3B4752; // #JS#
$dark-dark:             #313B44; // #JS#

$primary-light:         #40D9CA; // #JS#
$primary-base:          #10CFBD; // #JS#
$primary-dark:          #0DAD9E; // #JS#

$secondary-light:       #8A7DBE; // #JS#
$secondary-base:        #6D5CAE; // #JS#
$secondary-dark:        #5B4D91; // #JS#

$success-light:         #4dd386; // #JS#
$success-base:          #2ECC71; // #JS#
$success-dark:          #29b765; // #JS#
$success-fade:          #d5f4e2; // #JS#

$info-light:            #6DC0F9; // #JS#
$info-base:             #48B0F7; // #JS#
$info-dark:             #3C93CE; // #JS#
$info-fade:             #DAEFFD; // #JS#

$warning-light:         #F9D975; // #JS#
$warning-base:          #F8D053; // #JS#
$warning-dark:          #CFAE45; // #JS#
$warning-fade:          #FEF6DD; // #JS#

$danger-light:          #F77975; // #JS#
$danger-base:           #F55753; // #JS#
$danger-dark:           #CD4945; // #JS#
$danger-fade:           #FDDDDD; // #JS#

$background-color:      $light-light;
$font-color:            $dark-light;
$sidebar-color:         $dark-base;
