$spacing-base:          15px; // #JS#
$spacing-xs:            floor($spacing-base / 4);
$spacing-sm:            floor($spacing-base / 2);
$spacing-lg:            floor($spacing-base * 2);

$spacing-grid:          $spacing-lg;

$screen-xs-min:         375px; // #JS#
$screen-sm-min:         768px; // #JS#
$screen-md-min:         992px; // #JS#
$screen-lg-min:         1200px; // #JS#

$screen-xs-max:         ($screen-sm-min - 1);
$screen-sm-max:         ($screen-md-min - 1);
$screen-md-max:         ($screen-lg-min - 1);

$sidebar-width:         240px;
$topbar-height:         ($spacing-base * 4);

$form-sm:               100px;
$form-md:               200px;

$modal-sm:              $screen-xs-min;
$modal-md:              $screen-sm-min;
$modal-lg:              $screen-md-min;

$text-editor-tooltip:   10px; // #JS#
