<div class="panel">
  <div class="panel-header">
    Grid inside Panel
  </div>

  <div class="panel-body">
    <div class="grid">
      <div class="grid-cell">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ut felis vitae hendrerit. Ut ut nibh nunc. Mauris vehicula dictum lacus, nec elementum tellus luctus vel. Nulla volutpat quam sem, sit amet porta tellus bibendum eget.</p>
      </div>

      <div class="grid-cell">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ut felis vitae hendrerit. Ut ut nibh nunc. Mauris vehicula dictum lacus, nec elementum tellus luctus vel. Nulla volutpat quam sem, sit amet porta tellus bibendum eget.</p>
      </div>

      <div class="grid-cell">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ut felis vitae hendrerit. Ut ut nibh nunc. Mauris vehicula dictum lacus, nec elementum tellus luctus vel. Nulla volutpat quam sem, sit amet porta tellus bibendum eget.</p>
      </div>

      <div class="grid-cell">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ut felis vitae hendrerit. Ut ut nibh nunc. Mauris vehicula dictum lacus, nec elementum tellus luctus vel. Nulla volutpat quam sem, sit amet porta tellus bibendum eget.</p>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid-cell">
    <div class="panel">
      <div class="panel-header">
        Grid of Panels
      </div>

      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ut felis vitae hendrerit. Ut ut nibh nunc. Mauris vehicula dictum lacus, nec elementum tellus luctus vel. Nulla volutpat quam sem, sit amet porta tellus bibendum eget.</p>
      </div>
    </div>
  </div>

  <div class="grid-cell">
    <div class="panel">
      <div class="panel-header">
        Grid of Panels
      </div>

      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ut felis vitae hendrerit. Ut ut nibh nunc. Mauris vehicula dictum lacus, nec elementum tellus luctus vel. Nulla volutpat quam sem, sit amet porta tellus bibendum eget.</p>
      </div>
    </div>
  </div>

  <div class="grid-cell">
    <div class="panel">
      <div class="panel-header">
        Grid of Panels
      </div>

      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ut felis vitae hendrerit. Ut ut nibh nunc. Mauris vehicula dictum lacus, nec elementum tellus luctus vel. Nulla volutpat quam sem, sit amet porta tellus bibendum eget.</p>
      </div>
    </div>
  </div>

  <div class="grid-cell">
    <div class="panel">
      <div class="panel-header">
        Grid of Panels
      </div>

      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ut felis vitae hendrerit. Ut ut nibh nunc. Mauris vehicula dictum lacus, nec elementum tellus luctus vel. Nulla volutpat quam sem, sit amet porta tellus bibendum eget.</p>
      </div>
    </div>
  </div>
