<p>
  <button class="btn btn-dark"
          ng-click="notify('Standard notification')">
    Standard Notification
  </button>
</p>

<p>
  <button class="btn btn-info"
          ng-click="notify('Infomation', 'info')">
    Info Notification
  </button>
</p>

<p>
  <button class="btn btn-success"
          ng-click="notify('Information Saved!', 'success')">
    Success Notification
  </button>
</p>

<p>
  <button class="btn btn-caution"
          ng-click="notify('Carefully yo!', 'caution')">
    Caution Notification
  </button>
</p>

<p>
  <button class="btn btn-warning"
          ng-click="notify('Im warning you!', 'warning')">
    Warning Notification
  </button>
</p>

<p>
  <button class="btn btn-danger"
          ng-click="notify('Ahhhhhhhhh!', 'danger')">
    Danger Notification
  </button>
</p>
