<nav class="menu">
  <ul class="menu-list">
    <li class="menu-list-item hg-animate"
        ng-if="menu.data.parent">
      <a class="menu-link"
         ng-href="#"
         ng-click="levelUp()">
        <div class="grid grid-no-gutters grid-middle grid-supress">
          <div class="grid-cell">
            Back
          </div>

          <div class="grid-cell grid-cell-shrink">
            <i class="icon icon-chevron-left"></i>
          </div>
        </div>
      </a>
    </li>

    <li class="menu-list-item hg-animate"
        ng-repeat="item in menu.data.siblings | orderBy:'data.index'"
        ng-if="item.data.name"
        ng-class="{ 'active': $state.current === item || $state.includes(item) }">
      <a class="menu-link"
         ng-href="#"
         ng-if="item.abstract"
         ng-click="levelDown(item)">
        <div class="grid grid-no-gutters grid-middle grid-supress">
          <div class="grid-cell">
            {{:: item.data.name }}
          </div>

          <div class="grid-cell grid-cell-shrink">
            <i class="icon icon-{{ item.data.icon }}"></i>
          </div>
        </div>
      </a>

      <a class="menu-link"
         ng-if="!item.abstract"
         ui-sref="{{ item.name }}">
        <div class="grid grid-no-gutters grid-middle grid-supress">
          <div class="grid-cell">
            {{:: item.data.name }}
          </div>

          <div class="grid-cell grid-cell-shrink">
            <i class="icon icon-{{ item.data.icon }}"></i>
          </div>
        </div>
      </a>
    </li>
  </ul>
</nav>
