@import "../../core/styling/variables";
@import "../../core/styling/mixins";

//
.sidebar {
  z-index: $zindex-sidebar;

  .sidebar-title {
    display: flex;
    padding: 0 $spacing-base;
    height: $topbar-height;

    > * {
      flex-grow: 1;
      align-self: center;
    }
  }
}

//
.profile {
  padding: $spacing-base;
  background-color: $topbar-color;

  // TODO: Magic numbers
  .profile-img {
    width: 50px;
    height: 50px;
    margin: 0 $spacing-sm 0 0;
  }

  .profile-primary {
    margin: 0;
  }
}

//
.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-list-item {
  border-left-color: $sidebar-color;
  border-left-style: $border-style;
  border-left-width: $border-width-lg;

  @include transition((
    border-left-color
  ));

  &:hover {
    border-left-color: $border-color;
  }

  &.active {
    border-left-color: $primary-base;
  }
}

.menu-link {
  display: block;
  padding: $spacing-base;
  color:  textColor($sidebar-color, dark);
  text-decoration: none;

  @include transition((
    background-color,
    color
  ));

  &:hover,
  .active & {
    color: textColor($sidebar-color, light);
    background-color: $topbar-color;
  }
}
