<div class="sidebar">
  <div class="sidebar-title">
    <h3>hg-framework</h3>
  </div>

  <div class="profile">
    <div class="grid grid-no-gutters grid-middle grid-supress">
      <div class="grid-cell grid-cell-shrink">
        <img class="profile-img tn tn-round"
             src="/assets/profile.jpeg">
      </div>

      <div class="grid-cell">
        <h4 class="profile-primary"><strong>Harrison Hogg</strong></h4>
        <div class="profile-secondary">Loves the web</div>
      </div>
    </div>
  </div>

  <div hg-sidebar-menu></div>
</div>
