@mixin makeAlert($color, $background) {
  background-color: $background;
  color: $color;
  border-color: $color;
}

.alert {
  margin: 0 0 $spacing-base;
  padding: $spacing-base;
  border-width: $border-width-sm;
  border-style: $border-style;

  &:last-child { margin: 0; }
}

.alert-success  { @include makeAlert($success-neg1, $success-fade); }
.alert-info     { @include makeAlert($info-neg1, $info-fade); }
.alert-caution  { @include makeAlert($caution-neg1, $caution-fade); }
.alert-warning  { @include makeAlert($warning-neg1, $warning-fade); }
.alert-danger   { @include makeAlert($danger-neg1, $danger-fade); }
