/**
 * Default buttons styling
 */

.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: $spacing-sm $spacing-base;
  background-color: transparent;
  line-height: $line-height;
  border: none;
  border-radius: $border-radius-md;
  outline: 0;
  cursor: pointer;

  @include transition((
    background,
    border-color,
    color,
    box-shadow
  ));

  &:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
}

.btn-group {
  display: inline-block;
  margin: 0 $spacing-sm;
  padding: 0;
  @include clearfix();

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }

  &:first-child:last-child {
    margin-left: 0;
    margin-right: 0;
  }

  .btn {
    float: left;
    border-radius: 0;

    &:first-child { border-radius: $border-radius-md 0 0 $border-radius-md; }
    &:last-child { border-radius: 0 $border-radius-md $border-radius-md 0; }
  }
}

/**
 * Button colouring
 */
@mixin makeButton($base, $positive, $negative) {
  background-color: $base;
  color: textColor($base);

  &:hover {
    background-color: $positive;
  }

  &:active {
    background-color: $negative;
  }
}

.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active {
  background-color: $grey-light-pos1;
  color: $grey-light-neg1;
}

.btn          { @include makeButton($grey-light-base, $grey-light-pos1, $grey-light-neg1); }
.btn-dark     { @include makeButton($dark-base,       $dark-pos1,       $dark-neg1); }
.btn-primary  { @include makeButton($primary-base,    $primary-pos1,    $primary-neg1); }
.btn-secondary{ @include makeButton($secondary-base,  $secondary-pos1,  $secondary-neg1); }
.btn-success  { @include makeButton($success-base,    $success-pos1,    $success-neg1); }
.btn-info     { @include makeButton($info-base,       $info-pos1,       $info-neg1); }
.btn-caution  { @include makeButton($caution-base,    $caution-pos1,    $caution-neg1); }
.btn-warning  { @include makeButton($warning-base,    $warning-pos1,    $warning-neg1); }
.btn-danger   { @include makeButton($danger-base,     $danger-pos1,     $danger-neg1); }
