.card {
  display: flex;
  align-items: center;
  padding: $spacing-base $spacing-lg;
  border-radius: $border-radius-lg;

  .card-icon {
    flex-shrink: 0;
    margin-right: $spacing-base;
  }

  .card-details {
    flex-grow: 1;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
}

@mixin makeCard($color) {
  background-color: $color;
  color: textColor($color);
}

.card            { @include makeCard($grey-light-pos1); }
.card-dark       { @include makeCard($dark-pos1); }
.card-primary    { @include makeCard($primary-pos1); }
.card-secondary  { @include makeCard($secondary-pos1); }
.card-success    { @include makeCard($success-pos1); }
.card-info       { @include makeCard($info-pos1); }
.card-caution    { @include makeCard($caution-pos1); }
.card-warning    { @include makeCard($warning-pos1); }
.card-danger     { @include makeCard($danger-pos1); }
