@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,600");

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $font-color;
  line-height: $line-height;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-light;
  line-height: $line-height-hs;
  margin: 0 0 $line-height;

  &:last-child { margin: 0; }
  &.indent {
    margin: 0 $spacing-base $line-height;
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }

ul,
ol,
p {
  margin: 0 0 $spacing-base;

  &:last-child { margin: 0; }
  &.indent {
    margin: 0 $spacing-base $line-height;
  }
}

strong,
.strong {
  font-weight: $font-weight-bold;
}

// Alignment Modifiers
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
