@import "../../core/styling/variables";
@import "../../core/styling/mixins";

.notification {
  position: fixed;
  padding: $spacing-base;
  bottom: $spacing-base;
  right: $spacing-base;
  background-color: $dark-base;
  color: textColor($dark-base);
  cursor: pointer;

  opacity: 0;
  animation-duration: $transition-time-base;
  animation-fill-mode: forwards;

  @include transition((margin-bottom));

  &.notification-insert { animation-name: notificationInsert; }
  &.notification-remove { animation-name: notificationRemove; }
}

.notification-icon {
  margin-right: $spacing-sm;
}

@keyframes notificationInsert {
    0% { opacity: 0; transform: scale3d(0, 0, 1); }
  100% { opacity: 1; transform: scale3d(1, 1, 1); }
}

@keyframes notificationRemove {
    0% { opacity: 1; }
  100% { opacity: 0; transform: scale3d(0.5, 0.5, 1); }
}
