<div class="topbar">
  <div class="grid grid-no-gutters grid-middle grid-supress hide-at-xs">
    <div class="grid-cell text-left hide-at-sm">
      <div hg-breadcrumb="state.breadcrumb"></div>
    </div>

    <div class="grid-cell text-right">
      <div class="btn-group">
        <button class="btn btn-dark">
          <i class="icon icon-envelope"></i>
          <span class="hide-at-md">Messages</span>
        </button>

        <button class="btn btn-dark">
          <i class="icon icon-bell"></i>
          <span class="hide-at-md">Notifications</span>
        </button>
      </div>
    </div>
  </div>
</div>
