<div class="topbar">
  <div class="grid grid-no-gutters grid-middle grid-xs-fit">
    <div class="grid-cell text-left">
      <div hg-breadcrumb="state.breadcrumb"></div>
    </div>

    <div class="grid-cell text-right">
      <div class="btn-group">
        <button class="btn btn-dark btn-hide-text-at-xs">
          <i class="icon icon-envelope"></i>
          <span class="btn-text">Messages</span>
        </button>

        <button class="btn btn-dark btn-hide-text-at-xs">
          <i class="icon icon-bell"></i>
          <span class="btn-text">Notifications</span>
        </button>
      </div>
    </div>
  </div>
</div>
