@import "../../core/styling/variables";
@import "../../core/styling/mixins";

/**
 * Highcharts styling
 */

.highcharts-container > svg,
.highcharts-title,
.highcharts-tooltip > span,
.highcharts-tooltip > span * {
  color: textColor($background-color) !important;
  font-family: $font-family !important;
}

.highcharts-tooltip {
  > span {
    padding: $spacing-sm $spacing-base;
    background-color: $white-base;
    border-top: $border-thick;
    box-shadow: 0 1px 2px 1px fade-out($dark-base, 0.8);
  }

  > span * {
    font-size: $font-size-sm !important;
  }
}

.highcharts-xaxis-title,
.highcharts-yaxis-title,
.highcharts-legend-item > text {
  fill: textColor($background-color) !important;
  font-weight: normal !important;
  font-size: $font-size-sm !important;
}

.highcharts-axis-labels {
  > text {
    fill: textColor($background-color) !important;
    font-size: $font-size-sm !important;
  }
}

.highcharts-grid,
.highcharts-axis {
  > path {
    stroke: $light-dark !important;
  }
}
