.container {
  margin: 0 auto;
  padding: 0 $spacing-grid;
  max-width: $screen-lg-min;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $spacing-grid $spacing-grid;

  &:last-child { margin: 0 $spacing-grid; }

  /**
   * Grid directly below the container or panel-body should
   * have negative margins to bring them back into line.
   */
  .container &,
  .panel-body & {
    margin: 0 -#{$spacing-grid} $spacing-grid;

    &:last-child { margin: 0 -#{$spacing-grid}; }
  }

  > .grid-cell {
    flex: 1;
    padding: 0 ($spacing-grid / 2);

    &:first-child { padding-left: $spacing-grid; }
    &:last-child  { padding-right: $spacing-grid; }
  }

  /**
   * Guttered
   */

  &.grid-no-gutters {
    margin: 0;

    > .grid-cell {
      padding: 0;
    }
  }

  /**
   * Cell shrinker
   */
  > .grid-shrink {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 0;
  }

  /**
   * Vertical Alignment
   */

  // All cells
  &.grid-top    { align-items: flex-start; }
  &.grid-middle { align-items: center; }
  &.grid-bottom { align-items: flex-end; }

  // Per cell
  > .grid-cell {
    &.grid-top    { align-self: flex-start; }
    &.grid-middle { align-self: center; }
    &.grid-bottom { align-self: flex-end; }
  }

  /**
   * Responsive and Size modifiers
   */
  > .grid-cell {
    &.grid-25 { width: 25%; flex: none; }
    &.grid-50 { width: 50%; flex: none; }
    &.grid-75 { width: 75%; flex: none; }

    &.grid-33 { width: 33.3333%; flex: none; }
    &.grid-66 { width: 66.6666%; flex: none; }
  }

  @include viewRange(sm) {
    &.grid-sm-fit > .grid-cell { flex: 1; }
    &.grid-sm-full > .grid-cell {
      padding: 0 $spacing-grid;
      flex: 0 0 100%;
    }
  }

  @include viewRange(md) {
    &.grid-md-fit > .grid-cell { flex: 1; }
    &.grid-md-full > .grid-cell {
      padding: 0 $spacing-grid;
      flex: 0 0 100%;
    }
  }

  @include viewRange(lg) {
    &.grid-lg-fit > .grid-cell { flex: 1; }
    &.grid-lg-full > .grid-cell {
      padding: 0 $spacing-grid;
      flex: 0 0 100%;
    }
  }
}
