.label {
  display: inline-block;
  padding: floor($spacing-sm / 2) $spacing-sm;
  border-radius: $border-radius-md;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}

@mixin makeLabel($color) {
  background-color: $color;
  color: textColor($color);
}

.label            { @include makeLabel($grey-light-base); }
.label-dark       { @include makeLabel($dark-base); }
.label-primary    { @include makeLabel($primary-base); }
.label-secondary  { @include makeLabel($secondary-base); }
.label-success    { @include makeLabel($success-base); }
.label-info       { @include makeLabel($info-base); }
.label-caution    { @include makeLabel($caution-base); }
.label-warning    { @include makeLabel($warning-base); }
.label-danger     { @include makeLabel($danger-base); }
