<!DOCTYPE html>
<html class="sidebar-layout">
  <head>
    <title></title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- #stylesheets_vendor# -->
    <!-- #stylesheets_app# -->
  </head>

  <body ng-controller="HgLayoutCtrl"
        ng-class="{ 'layout-open': layoutState.open }">

    {{ $stateParams }}
    <div class="layout-top">
      <div hg-topbar></div>
    </div>

    <div class="layout-side">
      <div hg-sidebar></div>
    </div>

    <div class="layout-main">
      <a class="layout-toggle"
         ng-href="#"
         ng-click="toggleLayout()">
        <i class="icon icon-bars icon-2x"></i>
      </a>

      <a class="layout-overlay"
         ng-href="#"
         ng-click="toggleLayout()"></a>

      <div ui-view class="hg-animate"></div>
    </div>

    <!-- #scripts_vendor# -->
    <!-- #scripts_app# -->
  </body>
</html>
