@import "../styling/variables";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


.layout {
  display: flex;
  min-height: 100vh;
  background-color: $background-color;

  .layout-side {
    flex-shrink: 0;
    background-color: $sidebar-color;
  }

  .layout-main {
    flex-grow: 1;
    padding: 0 0 $spacing-grid;
    background-color: $background-color;
  }
}
