<!DOCTYPE html>
<html>
  <head>
    <title>FF</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ff: stylesheets_vendor -->
    <!-- ff: stylesheets_app -->
  </head>
  <body class="layout">
    <div class="layout-side">
      <div ff-sidebar></div>
    </div>

    <div class="layout-main">
      <div ff-topbar></div>
      <div ui-view></div>
    </div>

    <!-- ff: scripts_vendor -->
    <!-- ff: scripts_app -->
  </body>
</html>
