@import "../styling/variables";
@import "../../core/styling/mixins";


/**
 * General
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

/**
 * Content container
 */

.container {
  margin: 0 auto;
  padding: 0 $spacing-grid;
  max-width: $screen-lg-min;
}


/**
 * Main Application Layout
 */

.sidebar-layout {
  body {
    overflow-x: hidden;
    background-color: $sidebar-color;
  }

  .layout-top {
    position: fixed;
    padding: 0 0 0 #{$sidebar-width};
    top: 0;
    left: 0;
    height: $topbar-height;
    width: 100%;
    z-index: $zindex-topbar;
    overflow: hidden;
    background-color: $sidebar-color;
    color: textColor($sidebar-color);

    @include transition((
      margin,
      transform
    ));

    // Because of the fixed height, ensure
    // that the contents is vertically aligned.
    display: flex;
    > * {
      flex-grow: 1;
      align-self: center;
    }
  }

  .layout-side {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    z-index: $zindex-sidebar;
    overflow: hidden;
    background-color: $sidebar-color;
    color: textColor($sidebar-color);

    @include transition((
      margin,
      transform
    ));
  }

  .layout-main {
    margin: 0 0 0 $sidebar-width;
    padding: ($topbar-height + $spacing-grid) 0 $spacing-grid;
    min-height: 100vh;
    background-color: $background-color;

    @include transition((
      margin,
      padding,
      transform
    ));
  }

  .layout-toggle {
    position: fixed;
    top: $spacing-base;
    left: $spacing-lg;

    @include transition((
      color
    ));
  }

  .layout-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    background-color: transparent;

    @include transition((
      background-color
    ));
  }

  @include screenLessThan(sm) {
    .layout-top {
      margin-top: -$topbar-height;
    }

    .layout-side {
      margin-left: -$sidebar-width;
    }

    .layout-main {
      margin: 0;
      padding: $topbar-height 0 $spacing-grid;
    }

    .layout-open {
      .layout-top {
        margin-top: 0;
      }

      .layout-side {
        margin-left: 0;
      }

      .layout-main {
        transform: translate3d($sidebar-width, $topbar-height, 0);
      }

      .layout-toggle {
        color: transparent;
      }

      .layout-overlay {
        visibility: visible;
        z-index: $zindex-overlay;
        background-color: fade-out($dark-base, 0.2);
      }
    }
  }
}

/**
 * UI View Animate
 */
[ui-view].ng-animate {
  @include transition((
    opacity
  ));

  &.ng-enter { opacity: 0; }
  &.ng-enter.ng-enter-active { opacity: 1; }
  &.ng-leave { display: none; }
}
