<div class="panel">
  <div class="panel-header">
    Sized Dialogs
  </div>

  <div class="panel-body">
    <button class="btn"
            ng-click="launchDialog('sm', true)">Small Dialog</button>

    <button class="btn"
            ng-click="launchDialog('md', true)">Medium Dialog</button>

    <button class="btn"
            ng-click="launchDialog('lg', true)">Large Dialog</button>
  </div>
</div>

<div class="panel">
  <div class="panel-header">
    No backdrop click
  </div>

  <div class="panel-body">
    <button class="btn"
            ng-click="launchDialog('sm', false)">Small Dialog</button>
  </div>
</div>
