@import "../../core/styling/variables";
@import "../../core/styling/mixins";

[hg-text-editor] {
  &:focus {
    outline: none;
  }
}

.text-editor-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  animation-duration: $transition-time-base;
  animation-fill-mode: forwards;

  &.toolbar-visible {
    animation-name: standardAppear;
    visibility: visible;
    @include transition((top, left));
  }

  .toolbar-btn-group {
    display: block;
    margin: 0;
  }

  .toolbar-tip {
    position: absolute;
    bottom: -$text-editor-tooltip;
    left: 50%;
    margin-left: -$text-editor-tooltip;
    clip: rect(
      $text-editor-tooltip
      $text-editor-tooltip * 2
      $text-editor-tooltip * 2
      0
    );

    &::before {
      content: "";
      display: block;
      width: $text-editor-tooltip * 2;
      height: $text-editor-tooltip * 2;
      background-color: $dark-base;
      transform: rotate(45deg) scale(.5);
    }
  }
}
