@import "../conf/vars";

.layout {
  display: flex;
  min-height: 100vh;
  background-color: $sidebar-color;

  .layout-side {
    flex-shrink: 0;
  }

  .layout-main {
    flex-grow: 1;
    padding: 0 0 $spacing-base;
    background-color: $background-color;
  }
}
