/**
 * Standard Style and Formatting
 */
.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 $spacing-base;

  &:last-child { margin-bottom: 0; }

  > .input-label,
  > .textarea-label,
  > .select-label,
  > .checkbox-label,
  > .radio-label {
    margin: 0 0 $spacing-sm;
    width: 100%;
    font-weight: $font-weight-bold;
  }

  > .input,
  > .textarea,
  > .select,
  > .input-group,
  > .select-group,
  > .checkbox-group,
  > .radio-group {
    flex: 1;
    width: 100%;
  }

  .input,
  .textarea,
  .addon {
    padding: $spacing-base;
    line-height: $line-height;

    @include transition((
      color,
      border-color,
      outline-color,
      background-color
    ));
  }

  .input,
  .textarea,
  .select,
  .checkbox-group > label,
  .radio-group > label {
    background-color: $white-base;
    border-radius: 0;
  }

  .select,
  .checkbox-group > label,
  .radio-group > label {
    cursor: pointer;
  }

  .select {
    height: $line-height + ($spacing-base * 2) + ($border-width-sm * 2);
  }

  &.form-thick {
    .select {
      height: $line-height + ($spacing-base * 2) + ($border-width-lg * 2);
    }
  }

  > .checkbox-group,
  > .radio-group {
    > label {
      display: block;
      margin: 0 0 $spacing-sm;
    }
  }

  > .textarea {
    height: 10em;

    &:not(.resizeable) {
      resize: none;
    }
  }
}

/**
 * Checkbox and Radio Styling
 */
.checkbox-group,
.radio-group {
  > label {
    > input {
      visibility: hidden;
      width: 0;
      height: 0;
    }

    > span::before {
      display: inline-block;
      vertical-align: middle;
      margin: 0 $spacing-sm 0 0;
      width: $line-height + ($border-width-sm * 2);
      height: $line-height + ($border-width-sm * 2);
      background-color: $white-base;
      color: transparent;
      font-family: $icon-font-name;
      font-size: $font-size-sm;
      text-align: center;
      border: $border-thin;

      @include transition((
        color,
        border-color,
        background-color
      ));
    }

    &:hover {
      > span::before {
        color: $border-color;
      }
    }

    > input:checked {
      + span::before {
        background-color: $primary-base;
        color: $white-base;
        border-color: $primary-dark;
      }
    }
  }
}

.checkbox-group {
  > label {
    > span::before {
      content: $fa-var-check;
    }
  }
}

.radio-group {
  > label {
    > span::before {
      content: $fa-var-circle;
      border-radius: 50%;
    }
  }
}

/**
 * Borders
 */
.form-group {
  .input,
  .textarea,
  .addon {
    border: $border-thin;
  }

  .select {
    border: 0;
    outline: $border-thin;
    outline-offset: -$border-width-sm;
  }

  &.form-thick {
    .input,
    .textarea,
    .addon {
      border: $border-thick;
    }

    .select {
      outline: $border-thick;
      outline-offset: -$border-width-lg;
    }
  }
}

/**
 * Focussed styling
 */
.form-group {
  .input:focus,
  .textarea:focus {
    outline: 0;
    border-color: $primary-base;
  }

  .select:focus {
    outline-color: $primary-base;
  }

  .input:focus ~ .addon,
  .select:focus ~ .addon {
    color: $light-light;
    background-color: $primary-base;
    border-color: $primary-base;
  }
}

/**
 * Disabled styling
 */
.form-group {
  .input[disabled],
  .textarea[disabled],
  .select[disabled] {
    background-color: $light-base;
  }

  .checkbox-group > label[disabled],
  .radio-group > label[disabled] {
    color: $light-dark;

    > span::before {
      background-color: $light-base;
    }
  }

  .input[disabled],
  .textarea[disabled],
  .select[disabled],
  .checkbox-group > label[disabled],
  .radio-group > label[disabled] {
    cursor: not-allowed;
  }
}

/**
 * Aligned Forms
 */
.form-group.aligned {
  flex-direction: row;

  > .input-label,
  > .textarea-label,
  > .select-label,
  > .checkbox-label,
  > .radio-label {
    margin: 0 $spacing-sm 0 0;
    width: 10em;
  }

  > .checkbox-label,
  > .radio-label,
  > .textarea-label {
    align-self: flex-start;
  }
}

/**
 * Input addon
 */
.form-group {
  > .input-group,
  > .select-group {
    display: flex;

    > .input,
    > .select {
      flex: 1;
      order: 1;
    }

    > .addon {
      background-color: $border-color;

      &.addon-pre { border-right: 0; }
      &:addon-post { border-left: 0; }
    }

    > .addon-pre  {  order: 0; }
    > .addon-post {  order: 2; }
  }
}

/**
 * Sized inputs
 */
.form-group-sm {
  display: inline-block;
  width: $form-sm;
  .input,
  .textarea,
  .addon {
    padding: $spacing-sm;
  }

  .select {
    height: $line-height + ($spacing-sm * 2) + ($border-width-sm * 2);
  }
}

.form-group-md {
  display: inline-block;
  width: $form-md;

  .input,
  .textarea,
  .addon {
    padding: $spacing-base;
  }

  .select {
    height: $line-height + ($spacing-base * 2) + ($border-width-sm * 2);
  }
}
