.panel {
  margin-bottom: $spacing-grid;
  background-color: $white-base;

  &:last-child { margin-bottom: 0; }

  &.panel-full {
    border-top: $border-thin;
    border-bottom: $border-thin;

    .panel-body {
      border-top: 0;
    }
  }

  .panel-header {
    padding: $spacing-base;
    border-top: $border-thick;
    font-weight: $font-weight-bold;
  }

  .panel-body {
    border-top: $border-thin;
    padding: $spacing-base;
  }
}

/**
 * Dark Panel
 */
.panel.panel-dark {
  background-color: $dark-light;
  color: textColor($dark-light);

  .panel-header,
  .panel-body {
    border-color: $dark-dark;
  }
}
